{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 2,
    "quotes": [2, "double", "avoid-escape"],
    "indent": ["error", 4, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "comma-dangle": ["error", "never"],
    "arrow-body-style": ["off", "as-needed"],
    "no-else-return": "off",
    "no-shadow": "off",
    "max-len": ["warn", 120, 4],
    "new-cap": "off",
    "no-param-reassign": "warn",
  },
  "extends": "airbnb"
}