<div class="container">
    <!--<p>-->
        <!--<span class="glyphicon glyphicon-refresh glyphicon-spin"></span>-->
        <!--<button class="btn-success has-spinner">-->
            <!--<span class="spinner"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>-->
            <!--Foo-->
        <!--</button>-->
    <!--</p>-->
    <div class="row search-container">
            <form ng-submit="search()">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{selectedItem}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in items"><a ng-click="dropdownActive(item)" href="">{{item}}</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control" id="search" aria-label="..." ng-model="searchText" placeholder="Enter text..." uib-typeahead="data.key for data in searchForField($viewValue)" typeahead-no-results="noResults" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-hide="loadedData">
                            <span class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span>&nbsp;
                        </button>
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;
                        </button>
                    </span>

                </div><!-- /input-group -->
                <!--<div ng-show="noResults">-->
                    <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
                <!--</div>-->
            </form>
    </div><!-- /.row -->
</div>

<div class="container">
    <div id="d3legend"></div>
    <div id="d3box"></div>
</div>
