#graph-legend {
    z-index: 1;
    position: absolute;
    padding: 15px;
    font-size: 11px;
    /*background-color: #999;*/
    /*border: 1px solid #CCC;*/
    /*width: 100px;*/
    /*height: 100px;*/
}

.graph-legend-g {
    cursor: pointer;
}