#graph-legend {
    z-index: 1;
    position: absolute;
    padding: 15px;
    font-size: 11px;
    background: rgba(255, 255, 255, .9);
    margin: 1px;
    /*border: 1px solid #CCC;*/
    /*width: 100px;*/
    /*height: 100px;*/
}

.graph-legend-g {
    cursor: pointer;
}

.graph-legend-g text {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS*/
}