body {
    background: #F9F9F9;
    overflow: hidden;
}

#d3box {
    height: -webkit-calc(100vh - 170px);
    height: -moz-calc(100vh - 170px);
    height: calc(100vh - 170px);
    background-color: #FFF;
    margin: 10px 0px;
    border: 1px solid #CCC;
    overflow: hidden;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    /*background-color: #333;*/
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    /*background-color: #33F;*/
}