body {
    background: white;
    overflow: hidden;
}

a, a:hover {
    cursor: pointer;
}

.tableImg{
    height: 14px;
    /*-webkit-filter: drop-shadow(0px 0px 2px white);*/
    /*filter: drop-shadow(0px 0px 2px white);*/
}

.floatRight {
    position:absolute;
    float:right;
    top: 100px;
    right: 15px;
    z-index: 1;
    width: 500px;
    height: 300px;
}

.fill-height {
    height: 100%;
}

.grey-box {
    background-color: #EEEEEE;
}

/*.skin-black .main-header .logo {*/
    /*background-color: #EFEFEF;*/
/*}*/

/*.skin-black .main-header .navbar {*/
    /*background-color: #EFEFEF;*/
/*}*/

/*.skin-black .main-header > .navbar .nav > li > a {*/
    /*!*text-transform: uppercase;*!*/
    /*background-color: #EFEFEF;*/
    /*font-weight: 700;*/
    /*color: #333333;*/
    /*border-right: 1px solid #CCCCCC;*/
    /*border-left: 1px solid #CCCCCC;*/
/*}*/

/*.skin-black .main-header > .navbar .nav .open > a:focus, .skin-black .main-header > .navbar .nav > .active > a {*/
    /*!*text-transform: uppercase;*!*/
    /*background-color: #EFEFEF;*/
    /*color: #3366CC;*/
/*}*/

/*.skin-black .main-header > .navbar .nav > li > a:hover, a:active, a:focus {*/
    /*!*text-transform: uppercase;*!*/
    /*background-color: #EFEFEF;*/
    /*color: #3366CC;*/
/*}*/

/*.navbar-brand,*/
/*.navbar-nav li a {*/
    /*line-height: 70px;*/
    /*height: 70px;*/
    /*padding-top: 0;*/
/*}*/


/*@media (min-width: 768px) {*/
    /*.navbar-nav > li > a {*/
        /*padding-top: 12px;*/
        /*padding-bottom: 12px;*/
    /*}*/
/*}*/

.sidebar-padding {
    padding: 10px 10px 0px 10px;
}

.sidebar-topdown {
    margin-top: 5px;
}

.sidebar-button {
    background-color: #222d32;
    color: #CCC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.control-sidebar>.tab-content {
    padding: 0px 0px;
}

.sidebar-button:hover {
    background-color: #2c3b41;
    color: #CCC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.nav>li .space-smaller {
    position: relative;
    display: block;
    padding: 5px 10px;
}

.title-small, .title-small:focus, .title-small:hover, .title-small:active {
    font-size: 13px !important;
}

.overflow-scroll {
    overflow-y:scroll;
    overflow-x: hidden;
    max-height: 400px;
}

.panel-heading:hover {
    background-color: #dfdfdf !important;
}

.inpadding {
    padding: 0px 16px 8px 16px;
}

.cursor {
    cursor: pointer;
}

.hover {
    background-color: #666;
    color: #666;
}

.list-z {
    z-index: 9999;
}

.navbar {
    margin-bottom: 0;
}

.popover {
    max-width: 300px;
}

.autocomplete {
    background: #FFF;
    /*border: 1px solid;*/
    position: absolute;
    z-index: 9999;
    display:block;
    top: 33px;

}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.relative {
    position: relative;
}

.reactable-current-page, .reactable-current-page:hover, .reactable-current-page:focus, .reactable-current-page:focus {
    pointer-events: none;
    cursor: default;
    color: #fff;
    background-color: #2c3b41;
    box-shadow: 0 0 0 .03em #2c3b41;
}

.sidebar-table .reactable-page-button, .sidebar-table .reactable-next-page, .sidebar-table .reactable-previous-page {
    padding: 6px 8px;
}

.contextmenu-table .reactable-page-button, .contextmenu-table .reactable-next-page, .contextmenu-table .reactable-previous-page {
    padding: 6px 4px;
}

.reactable-page-button:not(.reactable-current-page), .reactable-next-page, .reactable-previous-page {
    background-color: #FFF;
    color: #444;
    box-shadow: 0 0 0 .03em #ddd;
}

.reactable-page-button:not(.reactable-current-page):hover, .reactable-next-page:hover, .reactable-previous-page:hover {
    background-color: #f4f4f4;
    color: #444;
    box-shadow: 0 0 0 .03em #ddd;
}

.reactable-page-button:not(.reactable-current-page):active, .reactable-next-page:active, .reactable-previous-page:active,
.reactable-page-button:not(.reactable-current-page):focus, .reactable-next-page:focus, .reactable-previous-page:focus {
    color: #444;
    box-shadow: 0 0 0 .03em #ddd;
}

.reactable-header-sortable {
    background-image: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Ik0xMSA3aC02bDMtNHoiLz4KPHBhdGggZmlsbD0iIzAwMDAwMCIgZD0iTTUgOWg2bC0zIDR6Ii8+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-position: center right;
}

.reactable-header-sort-desc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAeUlEQVQ4T+3SwQ2AIBBE0U8sREvRtuzArmzEk3ZhTMgkeiEuYOSgCVzZfbADjsLLFfao4PtE/5thA0xAZ4SwACNwhPuxkYXNQBs0CRuA9e6wVIYhKqwHNuv5UqD6LnQ/b2ZiKs4BVaexlVcUewJmf9DcG1bQTuD7GXqaPA4VarkPEQAAAABJRU5ErkJggg==");
}

.reactable-header-sort-asc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAcElEQVQ4T+2RQQ5AQBAEaxO/wAn/8DB33/IU3rEOIlkHZLeJTVxmrjOpdNc4Mo/LzMOA343+5rADPDCrDk8StsAErECvoAp4wMqQbFHQFLAJyapLzSQ0BiyAEagjznaXQ9BwOlGV1Q9uewO+VmYOYQPE6Q4VXS9fdAAAAABJRU5ErkJggg==");
}

.reactable-filter-input {
    width: 100%;
}

th:not(.reactable-header-sortable) {
    cursor: default;
}

.btn-flat-custom {
    border: 0px;
    border-radius: 0px;
}

.navbar-space {
    margin-right: 50px;
    border-right: 1px solid #eee;
}

a.disabled-link, a:link.disabled-link, a:hover.disabled-link, a:focus.disabled-link, a:active.disabled-link {
    cursor: default;
}

.info-box-text {
    color: #999;
    padding-left: 15px;
}

.content-wrapper {
    /*background-color: #FFF;*/
}

.btn-app {
    background-color: #FFF;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    min-width: 50px;
    margin: 0px;
}

.btn-app.active {
    background-color: #f4f4f4;
}

.footer {
    background-color:#f4f4f4;
    margin: 0px;
    border-top: 1px solid #DDD;
}

.btn-footer {
    border: 0px;
}
.bar {
    cursor: pointer;
}

#stats-menu text {
    font: 10px sans-serif;
    cursor: pointer;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.nav-pills>li>a {
    font-size: 12px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    font-weight: 400;
    border-top-color: #F7F7F7;
    background-color: #F7F7F7;
    color: #000000;
    font-size: 12px;
}

.dropdown-content {
    width: 100%;
}

.dropdown-content-item {
    padding: 12px 16px;
    display: block;
    /*background-color: #f9f9f9;*/
    border-top: 1px solid #DDD;
    max-height: 300px;
    overflow-y: auto;
    /*margin: 2px 0px;*/
}

.dropdown-content-item-hover:hover {background-color: #f1f1f1}

.dropdown-content-item.active {
    background-color: #f1f1f1;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.rc-slider-handle {
    border: 2px solid #2c3b41;
}

.rc-slider-track {
    background-color: #2c3b41;
}
