body {
    background: white;
    overflow: hidden;
    z-index:0;
}

.skin-blue .main-header .logo {
    background-color: #00529B;
}

.skin-blue .main-header .navbar {
    background-color: #00529B;
}

.sidebar-padding {
    padding: 10px 10px;
}

.sidebar-topdown {
    margin-top: 5px;
}

.sidebar-button {
    background-color: #222d32;
    color: #CCC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.control-sidebar>.tab-content {
    padding: 0px 0px;
}

.sidebar-button:hover {
    background-color: #2c3b41;
    color: #CCC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.nav>li .space-smaller {
    position: relative;
    display: block;
    padding: 5px 10px;
}

.title-small {
    font-size: 14px;
}

.overflow-scroll {
    overflow:scroll;
    max-height: 400px;
}

.box-custom {
    background-color: transparent;
    color: #b8c7ce;
    border-left: 3px solid transparent;
    border-top: 0px;
    margin-bottom: 0px;
}

.box-header {
    color: #CCC;
}

.box-header .box-title-custom {
    color: #CCC;
    font-size: 14px;
}

.box-custom .box-content-custom {
    background-color: #2c3b41;
    font-size: 12px;
    padding-bottom: 0px;
}

.panel-heading:hover {
    background-color: #dfdfdf !important;
}

.inpadding {
    padding: 0px 16px 8px 16px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cursor {
    cursor: pointer;
}

.hover {
    background-color: #666;
    color: #666;
}

.list-z {
    z-index: 9999;
    position: absolute;
    top: 34px;
    min-width: 200px;
}

.navbar {
    margin-bottom: 0;
}

.autocomplete {
    background: #FFF;
    /*border: 1px solid;*/
    position: absolute;
    z-index: 9999;
    display:block;
    top: 33px;

}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    /*background-color: #333;*/
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    /*background-color: #33F;*/
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    background-color: #efefef;
}
