body {
    background: white;
    overflow: hidden;
}

.tableImg{
    height: 14px;
    /*-webkit-filter: drop-shadow(0px 0px 2px white);*/
    /*filter: drop-shadow(0px 0px 2px white);*/
}

.floatRight {
    position:absolute;
    float:right;
    top: 100px;
    right: 15px;
    z-index: 1;
    width: 500px;
    height: 300px;
}

.fill-height {
    height: 100%;
}

.grey-box {
    background-color: #EEEEEE;
}

.skin-black .main-header .logo {
    background-color: #EFEFEF;
}

.skin-black .main-header .navbar {
    background-color: #EFEFEF;
}

.skin-black .main-header > .navbar .nav > li > a {
    /*text-transform: uppercase;*/
    background-color: #EFEFEF;
    font-weight: 700;
    color: #333333;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

.skin-black .main-header > .navbar .nav .open > a:focus, .skin-black .main-header > .navbar .nav > .active > a {
    /*text-transform: uppercase;*/
    background-color: #EFEFEF;
    color: #3366CC;
}

.skin-black .main-header > .navbar .nav > li > a:hover, a:active, a:focus {
    /*text-transform: uppercase;*/
    background-color: #EFEFEF;
    color: #3366CC;
}

.sidebar-padding {
    padding: 10px 10px;
}

.sidebar-topdown {
    margin-top: 5px;
}

.sidebar-button {
    background-color: #222d32;
    color: #CCC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.control-sidebar>.tab-content {
    padding: 0px 0px;
}

.sidebar-button:hover {
    background-color: #2c3b41;
    color: #CCC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.nav>li .space-smaller {
    position: relative;
    display: block;
    padding: 5px 10px;
}

.title-small, .title-small:focus, .title-small:hover, .title-small:active {
    font-size: 13px !important;
}

.overflow-scroll {
    overflow-y:scroll;
    overflow-x: hidden;
    max-height: 400px;
}

.panel-heading:hover {
    background-color: #dfdfdf !important;
}

.inpadding {
    padding: 0px 16px 8px 16px;
}

.cursor {
    cursor: pointer;
}

.hover {
    background-color: #666;
    color: #666;
}

.list-z {
    z-index: 9999;
    position: absolute;
    top: 34px;
    min-width: 200px;
}

.navbar {
    margin-bottom: 0;
}

.autocomplete {
    background: #FFF;
    /*border: 1px solid;*/
    position: absolute;
    z-index: 9999;
    display:block;
    top: 33px;

}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}