.force-graph .circle {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer
}

.force-graph .link {
    stroke: #999;
    stroke-opacity: .6;
}

.force-text {
    font: 9px sans-serif;
    fill: black;
    text-anchor: middle;
    cursor: pointer
}

.force-graph .g {
    outline: 0;
}