body {
    background: #F9F9F9;
    overflow: hidden;
}

#d3box {
    height: -webkit-calc(100vh - 150px);
    height: -moz-calc(100vh - 150px);
    height: calc(100vh - 150px);
    background-color: #FFF;
    /*margin: 10px 0px;*/
    border: 1px solid #CCC;
    overflow: hidden;
}

.search-container {
    padding: 0px 15px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    /*background-color: #333;*/
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    /*background-color: #33F;*/
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}